# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
!"data/description data/data_with_new_mota.csv"
!data/description data/data_with_new_mota.csv
*.csv
*.tsv
*.xls
*.xlsx
*.parquet
*.feather
*.h5
*.db
*.sqlite
*.pkl
*.joblib

# VS Code settings
.vscode/

# Environment files
.env
.venv/
venv/
ENV/

# MacOS
.DS_Store

# System files
Thumbs.db

# Logs
*.log

# Others
*.bak
*.swp
*.tmp
